
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: Dosis, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

/* ------------------------------------
.              HAMBURGER
------------------------------------ */
.sidenav-trigger{
  position: relative;
  top: 10px;
  cursor: pointer;
}
.sidenav-trigger > div {
  width: 45px;    
  height: 5px;
  margin: 7px;
  background-color: #fff;
  border-radius: 30px;
}
