.mainProfileIcon {
  margin: 70px auto 0px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid purple;
}


.myProfileContainer {
 
  h3{
    margin: 0;
    margin-top: 20px;
  }
  h5{
    margin: 0;

  }

  p{    
    text-align: justify;
    user-select: all;
  }

  .myProfileBtnsHolder{
    margin: 50px auto 70px auto;
  }


  .myProfileSectionTitle{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .mySkillsHolder {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 0;
      margin-left: 10px;
      margin-bottom: 10px;
      display: inline-block;

      padding: 10px 20px;
      background-color: purple;
      border-radius: 50px;

      color: #fff;
    }

  }
}