#mainProfileIcon {
  margin: 70px auto 0px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  border: 5px solid purple;
}


#myProfileContainer {
  h3{
    margin: 0;
    margin-top: 20px;
  }
  h5{
    margin: 0;
  }
}